
<div class="form">
  <h1>Ask a New Question!</h1>
  <p id="notice"><%= notice %></p>
<%= form_for(@question) do |f| %>
  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :body %><br />
    <%= f.text_field :body %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
</div>

<div class="footer">
<%= link_to "Return to Main page", questions_path%>
</div>
